<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/8b12b6e1-cd6b-4868-bb63-12d1c21f0581/resourcegroups/DefaultResourceGroup-WEU/providers/Microsoft.Web/sites/TheaterLaakAPi20230126235255</ResourceId>
    <ResourceGroup>DefaultResourceGroup-WEU</ResourceGroup>
    <ApiResourceId>/subscriptions/8b12b6e1-cd6b-4868-bb63-12d1c21f0581/resourceGroups/DefaultResourceGroup-WEU/providers/Microsoft.ApiManagement/service/TheaterLaakAPiapi/apis/TheaterLaakAPi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://theaterlaakapi20230126235255.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>7cea25d2-5615-4f65-9bd8-d09b48ae1468</ProjectGuid>
    <MSDeployServiceURL>theaterlaakapi20230126235255.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TheaterLaakAPi20230126235255</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$TheaterLaakAPi20230126235255</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>